body{
    background-color: black;
}

ul{
    display:flex;
    width: 80%;
    list-style: none;
    flex-wrap: wrap;
    color: white;
}

div li{
    border: 1px solid white;
    border-radius: 20px;
    background-color: white;
    margin: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: black;
}

div li:hover{
    border: 1px solid rgb(161, 161, 161);
    border-radius: 20px;
    background-color: white;
    margin: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header{
    height: 136px;
    background-color: black;
    width: 100%;
}

header ul{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: -3%;
    font-weight: 700;
    font-family: 'Inter';
    line-height: 25px;
}

nav{
    font-weight: 700;
    font-family: 'Inter';
    position: relative;  
}

a{
    color: #fff;
    text-decoration: none;
}

footer{
    background-color: black;
    height: 200px;
    width: 100%;
}

#home-products{
    height: 100vh;
    background-color: #f1f1f1;
}

#home-banner{
    width: 100%;
    object-fit: cover;
}

#img-logo{
    border: 50px;
    width:100px;
    margin-top: 68px;
    transform: translateY(-50%);
    padding-left: 30px;
    position: relative;
}

#menu-superior{
    width:100%;
    float:left;
    margin-left: 100%;
    transform: translateX(-50%);
}

#footer-logo{
    border: 50px;
    width:100px;
    margin-top: 68px;
    transform: translateY(-50%);
    padding-left: 30px;
    position: relative;
}

#img-produto{
    width: 225px;
    margin: 15px;
    border-radius: 20px;
    /*box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);*/
}

#product-name{
    font-family: 'Inter';
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}

#product-descr{
    font-family: 'Inter';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}

#product-price{
    font-family: 'Inter';
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

#produtos{
    width: calc (100%-200px);
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 100px;
    float: left;
}