body{
    background-color: black;
    width: 100%;
}

header{
    background-color: black;
    width: 100%;
}

header ul{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: -3%;
    font-weight: 700;
    font-family: 'Inter';
    line-height: 25px;
}

ul{
    display:flex;
    width: 80%;
    list-style: none;
    flex-wrap: wrap;
}

#home-products li{
    border: 1px solid white;
    border-radius: 20px;
    background-color: white;
    margin: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: black;
}

#home-products li:hover{
    border: 1px solid rgb(161, 161, 161);
    border-radius: 20px;
    background-color: white;
    margin: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container-fluid{
    background-color: black;
}

.navbar{
    background-color: rgb(0, 0, 0);
    height: 60px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.navbar-nav{
    --bs-nav-link-color: white;
    --bs-nav-link-hover-color: rgb(80, 74, 20);
    --bs-nav-link-active-color: rgb(80, 74, 20);
    --bs-navbar-active-color: rgb(255, 222, 131);
    background-color: rgb(0, 0, 0);
}

.nav-link{
    background-color: black;
    border-radius: 0;
    margin-top: 15px;
    border: 0px solid black;
}

footer{
    background-color: rgb(0, 0, 0);
    height: 60px;
}

#home-products{
    min-height: 1300px;
    background-color: #f1f1f1;
}

#home-banner{
    width: 100%;
    object-fit: cover;
}

#footer-logo{
    border: 10px;
    width:100px;
    margin-top: 38px;
    transform: translateY(-50%);
    padding-left: 30px;
    position: relative;
}

#img-produto{
    width: 225px;
    margin: 15px;
    border-radius: 20px;
    /*box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);*/
}

#product-name{
    font-family: 'Inter';
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}

#product-descr{
    font-family: 'Inter';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}

#product-price{
    font-family: 'Inter';
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

#produtos{
    width: calc (100%-200px);
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 100px;
    float: left;
}
#page-products{
    min-height: 450px;
    background-color: #f1f1f1;
}