<!DOCTYPE html>
<html lang="en">
<html>

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lato:wght@400;700&display=swap"
      rel="stylesheet">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
   <link rel="stylesheet" href="../styles/app.css" />
   <title>Contato</title>

   <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
      crossorigin="anonymous"></script>
</head>

<body>
   <header id="menu-sup">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
         <div class="container-fluid">
            <a class="navbar-brand" href="#">
               <img src="https://i.pinimg.com/originals/d5/c7/2c/d5c72cb18497d1ea65f29f0857a8c760.png" alt="" width="80"
                  height="auto" class="d-inline-block align-text-top">
               Nike nav Bootstrap
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
               aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
               <ul class="navbar-nav">
                  <li class="nav-item">
                     <a class="nav-link" href="../views/index.html">Home</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="../views/productView.html">Produtos</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link active" aria-current="page" href="../views/contact.html">Contato</a>
                  </li>
               </ul>
            </div>
         </div>
      </nav>
   </header>
   <div id="page-products" class="pt-4">
      <div class="container "> 
         <div class="content-center">
            <main id="contact-section">
               <div class="mb-2">
                  <label for="exampleFormControlInput1" class="form-label">Nome</label>
                  <input type="n" class="form-control" id="exampleFormControlInput1" placeholder="Cicranaldo Fulano">
               </div>
               <div class="mb-2">
                  <label for="exampleFormControlInput1" class="form-label">Email</label>
                  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
               </div>
               <div class="mb-2">
                  <label for="exampleFormControlInput1" class="form-label">Telefone</label>
                  <input type="phone" class="form-control" id="exampleFormControlInput1" placeholder="phone number">
               </div>
               <div class="mb-3">
                  <label for="exampleFormControlTextarea1" class="form-label">Mensagem</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
               </div>
         </div>
      </div>
      <div class="container "> 
         <div class="content-center">
         <table>
         <tr>
            <td>Dia</td>
            <td>Horário</td>
         </tr>

         <tr>
            <td>Segunda</td>
            <td>8h ~ 20h</td>
         </tr>

         <tr>
            <td>Quarta</td>
            <td>8h ~ 20h</td>
         </tr>

         <tr>
            <td>Sexta</td>
            <td>8h ~ 20h</td>
         </tr>

         </table>
         </div>
      </div>
      </main>
      <br>
      <br>
   </div>
   <footer>
      <img src="https://i.pinimg.com/originals/d5/c7/2c/d5c72cb18497d1ea65f29f0857a8c760.png" id="footer-logo">
   </footer>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" 
integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
</script>
</body>

</html>