<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/global.css"/>
    <link rel="stylesheet" href="../styles/app.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Nike Shoes</title>

    <script
    src="https://code.jquery.com/jquery-3.6.1.js"
    integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
    crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav>
            <img src="https://i.pinimg.com/originals/d5/c7/2c/d5c72cb18497d1ea65f29f0857a8c760.png" id="img-logo">
            <ul>
                <li><a href="../views/index.html">Home</a></li>
                <li><a href="../views/productView.html">Produto</a></li>
                <li><a href="../views/contact.html">Contato</a></li>
            </ul>
        </nav>
    </header>    
    <div id="home-products">
        <ul id="produtos"></ul>
    </div>

    <div>
        <img src="https://static.nike.com/a/images/w_1920,c_limit/0c832e76-586f-455a-81cc-28ea1f0e707c/las-mejores-zapatillas-sin-cordones-para-hombre-y-mujer.jpg" id="home-banner">
    </div>

    <footer>
        <img src="https://i.pinimg.com/originals/d5/c7/2c/d5c72cb18497d1ea65f29f0857a8c760.png" id="footer-logo">
    </footer>    
    
    <script src="../js/products.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>