<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../css/estilo.css">
        <title>Produto Exemplo</title>

    </head>
   <style>
    
   </style>
    <body>
        <header id="h-top">
        <nav id="Menu">
            <img src="../img/icone da nike.jpg">
            <a class="link ativo" href="">Home</a>
            <a class="link ativo" href="">Produto</a>
            <a class="link ativo" href="">Contato</a>
        </nav>
          
        </header>
        <main>
            <section>
                <div>
                    <img src="../img/Tenis exemplo.webp" alt="Tenis branco com detalhes em vermelho e preto">
                </div>
                <div>
                    
                    
                        <div class="texto"> 
                            <h1><span>Tenis</span>modelo do tenis</h1>
                            <h2>Detalhes interessantes do produto
                               <p>descrição do produto</p> </h2>

                </div>
            </section>
        </main>
     </body>

 

</html>