<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../styles/estilo.css">
        <link rel="stylesheet" href="../styles/app.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lato:wght@400;700&display=swap" rel="stylesheet">
        <title>Produto Exemplo</title>
    </head>

    <body>
        <header>
            <nav>
                <img src="https://i.pinimg.com/originals/d5/c7/2c/d5c72cb18497d1ea65f29f0857a8c760.png" id="img-logo">
                <ul>
                    <li>Home</li>
                    <li>Galeria</li>
                    <li>Contato</li>
                </ul>
            </nav>
        </header>

        <main>
            <section id="products-section">
                <div>
                    <img src="../img/Tenis exemplo.webp" id="img-product" alt="Tenis branco com detalhes em vermelho e preto">
                </div>
                <div>
                    
                    
                        <div class="texto"> 
                            <h1><span>Tenis</span>modelo do tenis</h1>
                            <h2>Detalhes interessantes do produto
                               <p>descrição do produto</p> </h2>

                </div>
            </section>
        </main>

        <footer>
            <img src="https://i.pinimg.com/originals/d5/c7/2c/d5c72cb18497d1ea65f29f0857a8c760.png" id="footer-logo">
        </footer>

     </body>
</html>