<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lato:wght@400;700&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <link rel="stylesheet" href="../styles/app.css"/>
        <title>Produto da Loja</title>
    </head>
<body>
    <header id="menu-sup">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="https://i.pinimg.com/originals/d5/c7/2c/d5c72cb18497d1ea65f29f0857a8c760.png" alt="" width="80" height="auto" class="d-inline-block align-text-top">
                    Nike nav Bootstrap
                </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="../views/index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="../views/productView.html">Produtos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../views/contact.html">Contato</a>
                </li>
                </ul>
            </div>
            </div>
        </nav>
    </header>
    <div id="page-products">
        <br>
        <br>
        <br>
        <br>
    <div class="container">
        <div class="row justify-content-center">
        <div class="col-sm-4">
            <img src="../img/tenis Mike.jpg" alt="..." class="img-thumbnail">
        </div>
            <div class="card" style="width: 38rem;">
                <div class="card-body">
                  <h5 class="card-title">Mike - Back to the past</h5>
                  <p class="card-text">Até que enfim fizeram esse tenis hein pessoal! Era pra ter saído antes de 2015 como dizia no
                    documentário "de volta pro futuro" Mas agora temos o tenis DIRETAMENTE DE VOLTA DO PASSADO! Veio da Shoppee, dai 
                    ficou na alfandega, sabe como é ne? Bora comprar?</p>
                  <a href="#" class="card-link" style="text-decoration:none;">Correios - Frete</a>
                  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-primary me-md-5" type="button">Comprar</button>
                  </div>
                </div>
              </div>
        </div>
      </div>
    </div>
</div>
    <footer>
        <img src="https://i.pinimg.com/originals/d5/c7/2c/d5c72cb18497d1ea65f29f0857a8c760.png" id="footer-logo">
    </footer> 
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" 
integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
</script>
</body>
</html>